*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  .input-container input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .book-details {
    margin-bottom: 20px;
  }
  
  .book-details h2 {
    margin-bottom: 10px;
  }
  
  .book-details p {
    margin: 5px 0;
  }
  
  .book-details .no-book {
    color: #f00;
  }
  
  .header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-right: 15px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
}

.nav-link:hover {
    text-decoration: underline;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100vw;
}

.footer-text {
    margin: 0;
}