*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  .input-container input[type="text"] {
    width: calc(100% - 80px); /* Adjust input width */
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .add-button {
    width: 80px; /* Adjust button width */
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .add-button:hover {
    background-color: #0056b3;
  }
  
  .tasks-list {
    list-style-type: none;
    padding: 0;
  }
  
  .task-item {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f4f4f4;
  }
  
  .task-item.completed {
    background-color: #d4edda; /* Background color for completed tasks */
  }
  
  .task-item.incomplete {
    background-color: #f8d7da; /* Background color for incomplete tasks */
  }

  .header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-right: 15px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
}

.nav-link:hover {
    text-decoration: underline;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100vw;
}

.footer-text {
    margin: 0;
}
  